ILLUMINA_READ_1 /mnt/21B044BE29552220/sotos/TBZ/V2_clean_scripts/1_metagenome/2_trimmed_data/R1_paired.fastq.gz
ILLUMINA_READ_2 /mnt/21B044BE29552220/sotos/TBZ/V2_clean_scripts/1_metagenome/2_trimmed_data/R2_paired.fastq.gz
LONG_READ /mnt/21B044BE29552220/sotos/TBZ/V2_clean_scripts/1_metagenome/1_previous_datasets/long.fastq
OUTPUT_DIR /mnt/21B044BE29552220/sotos/TBZ/V2_clean_scripts/1_metagenome/3_opera_assembly_out/
CONTIG_EDGE_LEN 80
CONTIG_WINDOW_LEN 340
CONTIG_LEN_THR 500
KMER_SIZE 60
CONTIGS_FILE /mnt/21B044BE29552220/sotos/TBZ/V2_clean_scripts/1_metagenome/1_previous_datasets/prev_assemb.fna
LONG_READ_MAPPER blasr
SHORT_READ_ASSEMBLER megahit
NUM_PROCESSOR 56
